!!!
%html
  %head
    %title= @me.id + ' / ' + @album.data['name'] + ' / ' + (@photo.data['name'] || @photo.data['id'])
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/app/styles.css'}

  %body
    %h1
      %a{href: '/'} facebook
      %span= ' / '
      %a{href: @me.url}= @me.data['name']
      %span= ' / '
      %a{href: @album.url}= @album.data["name"]
      %span= ' / '
      - if @photo.data['name']
        %a{href: @photo.url}= @photo.data['name']
      - else
        %a{href: @photo.url}= @photo.data['id']

    %img{src: @photo.photo}

    %time= format_time @photo.data['created_time']

    - if @photo.data['likes']
      .likes
        %span.names= @photo.data['likes']['data'].map {|h| h['name'] }.join(', ')
        - if @photo.data['likes']['data'].size > 1
          %span like this.
        - else
          %span likes this.

    - if @photo.data['comments']
      %ul.comments
        - for comment in @photo.data['comments']['data']
          %li
            %span.name= comment['from']['name']
            %time= format_time comment['created_time']
            %span.body= comment['message']
