!!!
%html
  %head
    %title= @me.id
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/app/styles.css'}

  %body
    %h1
      %a{href: '/'} facebook
      %span= ' / '
      %a{href: @me.url}= @me.data['name']

    - if @me.photos_of
      %a.album{href: @me.photos_of.url}
        .covers
          - for photo in @me.photos_of.photos.reverse.take(7)
            .album_cover{style: 'background-image: url(' + photo.thumb + ')'}
        .meta
          %h2= 'Photos of ' + @me.data['name'].split(' ').first

    - for album in @me.albums
      %a.album{href: album.url}
        .covers
          - for photo in album.photos.reverse.take(7)
            .album_cover{style: 'background-image: url(' + photo.thumb + ');'}
        .meta
          %h2= album.data['name']
          %time= format_time album.data['updated_time']
