!!!
%html
  %head
    %title= @me.id + ' / ' + @album.data["name"]
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/app/styles.css'}

  %body
    %h1.grid_match
      .meta
        - if @album.data['updated_time']
          %time= format_time @album.data['updated_time']

      %a{href: '/'} facebook
      %span= ' / '
      %a{href: @me.url}= @me.data['name']
      %span= ' / '
      %a{href: @album.url}= @album.data["name"]

    .album
      - for photo in @album.photos
        %a.album_cover.grid{href: photo.url,
                            style: 'background-image: url(' + photo.thumb + ');'}

    - if @album.data['likes']
      .likes
        %span.names= @album.data['likes']['data'].map {|h| h['name'] }.join(', ')
        - if @album.data['likes']['data'].size > 1
          %span like this.
        - else
          %span likes this.

    - if @album.data['comments']
      %ul.comments
        - for comment in @album.data['comments']['data']
          %li
            %span.name= comment['from']['name']
            %time= format_time comment['created_time']
            %span.body= comment['message']
