!!!
%html
  %head
    %title= "#{@user.name}'s Photostream"
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %h1
      %a{href: @user.url}= "#{@user.name}'s photostream"

    .photo
      %a{href: @photo.link}
        %img{src: @photo.thumbnail_url}
      %h4= @photo.title
      %div.meta
        :markdown
          Uploaded on
          [#{Time.at(@photo.dateuploaded.to_i).strftime("%b %-d, %Y")}](#{@photo.link})
