!!!
%html
  %head
    %title= title @user
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']
        %span /
        = partial :menu, locals: {name: 'photos', here: true}

    %section
      .left= partial :photos, locals: {photos: @photos}
      .clear

    = partial :nav, locals: {obj: @user, page: @page}
