!!!
%html
  %head
    %title= title @user, "places", @set
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']
        %span /
        = partial :menu, locals: {name: 'places'}
        %span /
        %a.here{href: @place.url}= @place.name

    %section
      .left= partial :photos, locals: {photos: @photos}
      .clear

    = partial :nav, locals: {obj: @place, page: @page}
