!!!
%html
  %head
    %title= title @user, 'places'
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']
        %span /
        = partial :menu, locals: {name: 'places', here: true}

    %ul.places
      - for country in @places.children
        %li
          %a{href: country.content.url}= country.content.name
          %span= country.content.photos.size

          %ul
            - for region in country.children
              %li
                %a{href: region.content.url}= region.content.name
                %span= region.content.photos.size

                %ul
                  - for county in region.children
                    %li
                      %a{href: county.content.url}= county.content.name
                      %span= county.content.photos.size

                      %ul
                        - for locality in county.children
                          %li
                            %a{href: locality.content.url}= locality.content.name
                            %span= locality.content.photos.size

                            %ul
                              - for neighbourhood in locality.children
                                %li
                                  %a{href: neighbourhood.content.url}= neighbourhood.content.name
                                  %span= neighbourhood.content.photos.size
