!!!
%html
  %head
    %title last.fm
    %link{rel: 'stylesheet', href: '/styles.css'}

  %body
    %header
      %h1= @user.data['name']

      %strong= @user.data['realname'] + ","
      %span= @user.data['age'] + ","
      %span= (@user.data['gender'] == 'm' ? 'Male' : 'Female') + ","
      %span= @user.data['country']

      %br
      %strong= @user.data['playcount']
      %span plays,
      %span since
      %span= Time.at(@user.data['registered']['unixtime'].to_i).strftime("%-d %b %Y")


    %h2 Recent Tracks
    %ul.tracks
      - for track in @user.page(0).take(10)
        %li
          %span.artist= track.artist(@user).name
          %strong.name= track.name
          %span.date= track.date.strftime("%H:%M on %-d %b %Y")

    %h2 Top Artists
    %ol.artists
      - for artist in @user.sorted_artists.take(10)
        %li
          %strong.artist= artist.name
          %span.plays= artist.plays_count

    %h2 Top Albums
    %ol.albums
      - for album in @user.sorted_albums.take(10)
        %li
          %strong.album= album.name
          %span.plays= album.plays_count
