!!!
%html
  %head
    %title= title @user, 'cameras', @camera
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']
        %span /
        %a{href: @user.url + '/cameras'} cameras
        %span /
        %a.here{href: @camera.url}= @camera.name

    %section
      .left
        - for photo in @photos
          .photo
            %a{href: photo.url}
              %img{src: photo.thumbnail_url}
            %h4= photo.title
            %div.meta= meta @user, photo
      .clear

    = partial :nav, locals: {obj: @camera, page: @page}
