!!!
%html
  %head
    %title= title @user
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']
        %span /
        .menu
          %a.here{href: @user.url} photos
          %a{href: @user.url + '/sets'} sets
          %a{href: @user.url + '/tags'} tags
          %span faves
          %span cameras
          %span places
          %span archives


    %section
      .left
        - for photo in @photos
          .photo
            %a{href: photo.url}
              %img{src: photo.thumbnail_url}
            %h4= photo.title
            %div.meta= meta @user, photo

      .clear

    .nav
      - if @page > 0
        %a.prev{href: @user.url_for_page(@page-1)} &larr; prev
      - else
        %a.prev.disabled &larr; prev

      - for page in @user.range
        - if page == @page
          %span.this-page= page
        - elsif page
          %a{href: @user.url_for_page(page)}= page
        - else
          %span.disabled &hellip;

      - if @page < @user.page_count
        %a.next{href: @user.url_for_page(@page+1)} next &rarr;
      - else
        %a.next.disabled next &rarr;
