!!!
%html
  %head
    %title= title @user
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']

    %section
      .left
        - for photo in @photos
          .photo
            %a{href: photo.url}
              %img{src: photo.thumbnail_url}
            %h4= photo.title
            %div.meta= meta @user, photo

      .right
        %h2 Sets
        - for set in @user.sets
          .set
            %a{href: set.url}
              %img{src: set.photos.first.thumbnail_url}
              %h2= set.data['title']

      .clear

    .nav
      - if @page > 0
        %a.prev{href: @user.url_for_page(@page-1)} &larr; prev
      - else
        %a.prev.disabled &larr; prev

      - for page in @user.range
        - if page == @page
          %span.this-page= page
        - elsif page
          %a{href: @user.url_for_page(page)}= page
        - else
          %span &hellip;

      - if @page < @user.page_count
        %a.next{href: @user.url_for_page(@page+1)} next &rarr;
      - else
        %a.next.disabled next &rarr;
