!!!
%html
  %head
    %title= title @user, "places", @set
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']
        %span /
        %a{href: @user.url + '/places'} places
        %span /
        %a.here{href: @place.url}= @place.name


    - for photo in @photos
      .photo
        %a{href: photo.url}
          %img{src: photo.thumbnail_url}
        %h4= photo.title
        %div.meta= meta @user, photo

    = partial :nav, locals: {obj: @place, page: @page}
