!!!
%html
  %head
    %title= title @user, "set", @set
    %link{:rel => 'stylesheet', :href => '/styles.css'}

  %body
    %header
      %h1
        %a{href: '/'} flickr
        %span /
        %a{href: @user.url}= @user.data['username']
        %span /
        = partial :menu, locals: {name: 'sets'}
        %span /
        %a.here{href: @set.url}= @set.data['title']

      %p= @set.data['description']

    %section
      .left= partial :photos, locals: {photos: @photos}
      .clear

    = partial :nav, locals: {obj: @set, page: @page}
